@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-size: 25px;
  font-family: "Inter";
  background-color: white;
  margin: 0%;
  padding: 0%;
}

footer {
  padding-top: 5%;
  padding-bottom: 5%;
}

.footer-assets {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding-top: 5%;
  padding-bottom: 15px;
  margin-bottom: 0%;
}

.footer-assets img {
  height: 59px;
  width: 59px;
}

footer p {
  text-align: center;
  font-size: 25px;
  padding-bottom: 9%;
}


